<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>Forecast Landing</title>
    <meta name="viewport" content="width=device-width">
    <link href="/style.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <main>
      <h2>The weather right now in <%= @city %></h2>
      <h1><%= @temp %>&deg; F</h1>
      <div>
        <% @icons.each do |icon| %>
          <img src="<%= icon %>" alt="weather icon"/>
        <% end %>
      </div>
    </main>
    <footer>
      <% @cities.each do |city| %>
        <li><a href="/?city=<%= URI.escape(city) %>"><%= city %></a></li>
      <% end %>
      <p>
        Built
        by <a href="https//www.kathleenfrench.co">Kathleen French</a>
        Icons by <a href="flaticon.com">flaticon</a>.
      </p>
    </footer>
  </body>
</html>
