<html>
  <head>
    <title>Forecast Landing</title>
    <link href="/style.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://forecast-landing.herokuapp.com/favicon.ico" type="image/x-icon"/>
  </head>

  <body>
    <main>
      <h2>The weather right now in <%= @city %></h2>
      <h1><%= @temp %>&deg; F</h1>
      <div>
        <% @icons.each do |icon| %>
          <img src="<%= icon %>" alt="weather icon"/>
        <% end %>
      </div>
    </main>
    <footer>
      <% @cities.each do |city| %>
        <li><a href="/?city=<%= URI.escape(city) %>"><%= city %></a></li>
      <% end %>
      <p>
        Built with <heart>❤️</heart>
        by <a href="http://github.com/kathleenfrench">Kathleen French</a>
        Icons by <a href="flaticon.com">flaticon</a>.
      </p>
    </footer>
  </body>
</html>
